*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: rgb(0, 0, 0);
}
.row img {
padding-left: 20%;
padding-right: 20%;
border: 1px solid black ;
border-radius: 50%;
background: rgba(134,0,84,0.9);
margin: 10%;
}

.row h1, p {
padding: 10%;
color: white;
}